miitte-router route=input.route entries=input.entries
  miitte-header
  context|{ entries, pending }| from='miitte-router'
    miitte-browser entries=entries pending=pending
  miitte-link href='/' -- /
  miitte-link href='/other_route' -- other_route
  context|{ route }| from='miitte-router'
    if(route === '/')
      span -- /
    else
      span -- other
