class {
  handleClick(emit, e) {
    emit('route', this.input.href)
  }
}
context|{ route }, emit| from='miitte-router'
  ---
  <a href=route on-click('handleClick', emit)>
    <${input.renderBody}/>
  </a>
  ---
