miitte-router route=input.route entries=input.entries entry=input.entry
  miitte-header
  context|{ entries, entry, pending }| from='miitte-router'
    if(input.entry)
      miitte-image-browser entries=input.entries entry=input.entry
    else
      miitte-browser entries=entries pending=pending
  context|{ route }| from='miitte-router'
    if(route === '/')
      span -- /
    else
      span -- other
